section.slider {
    background: #f7f7f7;
    padding: 61px;
    position: relative;
}

.title {
    text-transform: capitalize;
    margin-bottom: 40px;
}

.title::before {
    content: "";
    background: #5e6484;
    width: 3px;
    height: 50px;
    position: absolute;
    left: 1%;
    top: 6%;
}

.title h2 {
    color: #50526b;
    font-size: 22px;
    margin-left: 19px;
    margin-top: 10px;
}

.title span {
    color: #ffaa00;
    font-size: 15px;
    margin-left: 20px;
}

.row.ti {
    position: relative;
}

.owl-carousel .owl-nav.disabled {
    display: block;
}


.image {
    width: 100% !important;
}

.image img {
    display: block;
    width: 100%!important;
}

.slider .owl-carousel .owl-nav {
    top: -102px;
    position: absolute;
    left: 91%;

}


button.owl-prev {
    outline: none !important;
}

button.owl-next {
    outline: none !important;
}


.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #FFF;
    text-decoration: none;
    border: none;
}

button.owl-prev span {
    background: #ffaa00 !important;
    font-size: 19px !important;
    outline: none;
    border-radius: 5px;
    padding: 0px 16px 5px 13px;
}


button.owl-next span {
    background: #ffaa00 !important;
    font-size: 19px !important;
    padding: 0px 16px 5px 13px;
    border-radius: 5px;
}

/*siccess section  */
section.success {
    background: #ffaa00;
    padding: 10px 0px;
    margin-bottom: 66px;
}

.titles {
    text-transform: capitalize;
    margin-bottom: 38px;
    margin-top: 40px;
}

.titles h2 {
    color: #50526b;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
}

button.btn {
    background: #242473;
    border-radius: 50px;
    text-align: center;
    padding: 5px 34px;
    padding-bottom: 11px;
    margin-left: 98px;
    margin-top: 46px;
    width: 157px;
}

button.btn a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}


/************************** slider2 section ***************************/


section.slider2 {
    padding: 50px 0px;
}


.title-main.col-lg-3 {
    position: relative;
}

.titless h2 {
    color: #50526b;
    font-size: 22px;
    margin-left: 14px;
    margin-top: 10px;
    text-transform: capitalize;
}

.titless span {
    color: #ffaa00;
    font-size: 13px;
    margin-left: 15px;
    text-transform: capitalize;
}

.titless::before {
    content: "";
    background: #5e6484;
    width: 3px;
    height: 53px;
    position: absolute;
    left: 1%;
    top: 1%;
}

.overlay.text-right {
    margin-top: 52px;
}

.image1 img {
    width: 260px !important;
}

.paragraph p {
    text-transform: capitalize;
    font-size: 15px;
    color: #4c3c5d;
    margin-top: 40px;
    border-collapse: unset;
}

.info {
    text-align: center;
    margin-top: 20px;
}

.info h2 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
}

.info p {
    text-transform: capitalize;
    color: #a7a4a4;
    font-size: 15px;
}

.slider2 .owl-carousel .owl-nav {
    top: 50%;
    position: absolute;
    left: -30%;
}

/******************** client saying section**********************/


section.client-saying {
    position: relative;
    padding: 32px 0px;
}

.class {
    background: #e0e0e0 !important;
    overflow: hidden;
    display: block;
    height: 478px;
    width: 33%;
    position: absolute;
    left: 0;
    top: -26px;
}

.clerfix {
    position: relative;
}

.title-head {
    position: relative;
}
.title-two::before {
    content: "";
    background: #5e6484;
    width: 3px;
    height: 53px;
    position: absolute;
    left: 0%;
    top: 1%;
} 
.images {
    position: relative;
}

.images img {
    width: 156px !important;
    height: 165px;
}

.information h2 {
    text-transform: capitalize;
    font-size: 22px;
    margin-top: 24px;
}

.information p {
    color: #707686;
    font-size: 12px;
}

i.fas.fa-quote-right {
    position: absolute;
    top: 0px;
    left: 124px;
    font-size: 32px;
    background: #1d1d52;
    padding: 6px;
    color: white;
}

.client-saying .owl-carousel .owl-nav {
    top: 118%;
    position: absolute;
    left: 0%;
}

/******************* company-blog section **********************/

section.company-blog {
    padding: 125px 0px;
    padding-top: 179px;
}


/* desc div */
.wraper.col-lg-6.col-md-12 {
    margin-top: 26px;
    position: relative;
}

.desc-box {
    margin: 40px 0px;

}

.single-image img {
    width: 219px;
    height: 206px;
}

.date span {
    color: #303358;
    font-size: 14px;
    text-transform: capitalize;
}

.single-title-box h2 {
    color: #535392;
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 14px;
    margin-right: 7px;
    line-height: 33px;
}

.single-title-box p {
    margin-top: 25px;
    color: #9898ab;
    font-size: 13px;
    margin-right: 65px;
}


/*from div  */

.fromer {
    background: #3c3c82;
    padding-left: 30px;
    padding-top: 26px;
    position: relative;
}


.title-main-two.col-lg-3 {
    position: relative;
}

.titles-two h2 {
    color: #ffffff;
    font-size: 22px;
    margin-left: 14px;
    margin-top: 10px;
    text-transform: capitalize;
}

.titles-two span {
    color: #ffaa00;
    font-size: 13px;
    margin-left: 15px;
    text-transform: capitalize;
}

.titles-two::before {
    content: "";
    background: #5e6484;
    width: 3px;
    height: 53px;
    position: absolute;
    left: 4%;
    top: 5%;
}


input[type="text"] {
    color: white !important;
    width: 31%;
    margin: 34px 11px;
    padding-bottom: 9px;
    border: none;
    background: #3c3c82;
    border-bottom: 1px solid #9d9fa7;
    text-transform: capitalize;
    outline: none;
    z-index: 1;
}

select.option {
    background: #3c3c82;
    border: none;
    color: white;
    text-transform: capitalize;
    border-bottom: 1px solid #b9b5b5;
    padding: 9px 26px 10px 2px;
    outline: none;
}

select.option option {
    background: #3c3c82;

}

input.area-input {
    padding-bottom: 70px;
    width: 67%;
}

button.btn.btn-tow {
    margin-left: 4px;
}

button.btn.btn-tow:hover {
    background: #ffaa00;
}

button.btn.btn-tow:hover a {
    color: black !important;
}


/****************** section-company-brands-logo ********************/
section.company-brands {
    padding-bottom: 72px;
}

.img img {
    width: 90% !important;


}

.img {
    width: 16%;
    border: 1px solid #e6e6e6;
    margin-left: 31px;
}

.company-brands button.owl-next span {
    background: #ffaa00 !important;
    font-size: 19px !important;
    outline: none;
    border-radius: 5px;
    padding: 0px 16px 5px 13px;
    display: none;
}

.company-brands button.owl-prev span {
    background: #ffaa00 !important;
    font-size: 19px !important;
    outline: none;
    border-radius: 5px;
    padding: 0px 16px 5px 13px;
    display: none;
}



/********************* footer  *************************/
footer.main-footer {
    background: black;
    padding-top: 62px;
}

.sing-fo-box {
    width: 90%;
    position: relative;
}

.footer-logo img {
    width: 145px!important;
}

.foot-paragraph {
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 29px;
    color: #bcbcbc;
    line-height: 25px;
}

.foot-paragraph a {
    color: #ffaa00;
    text-decoration: none;
}

.heading {
    position: relative;
}

.heading h2 {
    font-size: 28px;
    color: white;
    text-transform: capitalize;

}

.heading h2::before {
    content: "";
    background: #ffaa00;
    position: absolute;
    left: 1px;
    top: 49px;
    width: 48px;
    height: 2px;
}

.unorder-list-one {
    float: left;
    padding: 20px 0px;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.unorder-list-one ul {
    margin-right: 6%;
    margin-top: 10px;
}

.unorder-list-one ul li {
    line-height: 42px;
}
.unorder-list-one ul li a {
    text-transform: capitalize;
    text-decoration: none;
    color: #bcbcbc;
}


.sub-foot-box {
    margin-top: 48px;
}

.sub-foot-img {
    float: left;
}

.sub-foot-img img {
    width: 93px!important;
}

.sub-location {
    color:#bcbcbc;
    margin-left: 116px;
}
.sub-location h2 {
    color:white;
    font-size: 17px;
    margin-top: 12px;
    line-height: 27px;
    font-weight: 400;
}
.sub-location span {
    font-size: 12px;
    color:#bcbcbc;
   
}

.conatct-box {
    margin-top: 38px;
}

.conatct-box i {
    color: #ffaa00;
    font-size: 32px;
}

.conatct-box span {
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    margin-left: 19px;
}

footer.main-footer .owl-carousel .owl-nav {
    top: -7%;
    position: absolute;
    left: 84%;
}

footer.main-footer button.owl-next span {
    background:transparent!important;
    font-size: 35px !important;
    outline: none;
    border-radius: 5px;
    padding: 0px 16px 5px 13px;
    color:white;
  
}

footer.main-footer button.owl-prev span {
    background:transparent!important;
    font-size: 35px !important;
    outline: none;
    border-radius: 5px;
    padding: 0px 16px 5px 13px;
    color:white;
  
}

/******************* lower-footer ********************/
.lower-footer {
    background: #3c2121b8;
    margin-top: 60px;
    border-top: 1px solid #504747;
}

.lower-right-icon ul {

    display: block;
    padding-top:20px;
    text-align: right;
}

.lower-left-heading h2 {
    text-transform: capitalize;
    font-size: 20px;
    color: #ffaa00;
    padding: 20px 0px;
}

.lower-right-icon ul li {
    display: inline-block;
    margin-right: 23px;}

.lower-right-icon ul li a{ color:white;}  

.lower-right-icon ul li:hover a{color:#ffaa00;}

/******************* satrt media quairy / responsive  ********************/


@media(max-width:992px){
    .slider2 .owl-carousel .owl-nav {
        top: -49%;
        position: absolute;
        left: 75%;
    }
    .img {
        width: 15%;
        border: 1px solid #e6e6e6;
        margin-left: 5%;
    }
    footer.main-footer .owl-carousel .owl-nav {
        top: 92%;
        position: absolute;
        left: 45%;
    }
  
}
/*  */
@media(max-width:767px){
    .mr {
        margin-bottom: 30px;
    }


    .image1 {
        width: 100%!important;
        text-align: center;
        margin-left: 25%;
    }


    button.btn {
        margin-top: 0;
        margin-bottom: 23px;
        text-align: center;
        margin-left: 9px;
    }

    .slider2 .owl-carousel .owl-nav {
        top: -18%;
        position: absolute;
        left: 72%;
    }


    .owl-carousel .owl-nav {
        top: 86%;
        position: absolute;
        left: 44%;
    }

    .single-image {
        text-align: center;
        margin-bottom: 20px;
    }

    .single-descbox {
        text-align: center;
    }

    .single-title-box {
        text-align: center;
    }
    .single-title-box p {margin-right:0px;}


    footer.main-footer .owl-carousel .owl-nav {
        top: 97%;
        position: absolute;
        left: 45%;
    }
}


/*  */
@media(max-width:576px){.title-two {
    margin-left: 30px;
}
.title-two::before {
    content: "";
    background: #5e6484;
    width: 3px;
    height: 53px;
    position: absolute;
    left: 4%;
    top: 1%;
}

.footer-box {
    margin-bottom: 59px;
}

.unorder-list-one {
    float: left;
    padding: 20px 15px;
    width: 50%;
}


.lower-left-heading {
    text-align: center;
}
.lower-right-icon ul {
    display: block;
    padding-top: 20px;
    text-align: center;
}

}
/*  */
@media(max-width:420px){
    .image1 {
        width: 100%!important;
        margin-left: 22%;
    }
    .image1 img {
        width: 204px !important;
    }

    .client-saying .owl-carousel .owl-nav {
        top: 100%;
        position: absolute;
        left: 0%;
    }

    section.company-blog {
        padding: 125px 0px;
        padding-top: 56px;
    }

    

    .single-image {
        text-align: center;
        margin-bottom: 20px;
    }

    .single-descbox {
        text-align: center;
    }

    .single-title-box {
        text-align: center;
    }
    .single-title-box p {margin-right:0px;}
     
    footer.main-footer .owl-carousel .owl-nav {
        top: 97%;
        position: absolute;
        left: 36%;
    }
   
}


/* *********************  end end end ***************************/